html{
	width: 100%;
	height: 100%;


}
.navbar-brand {

	font-family: 'Open Sans', sans-serif;
	font-family: 'UnifrakturCook', cursive;
	font-size: calc(30px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}
body{
	width: 100%;
	height: 100%;	
	background-size: cover;

	background-image: linear-gradient(to right,#050b10, #0A1D2D);
}
div.date,p,span{
	color: white;
}

.navbar-toggler-icon{
	width: 0.7em;
	height: 0.7em;
}

h2{
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-family: 'UnifrakturCook', cursive;
}
h5{
	color: white;
}
img{
	margin: 3px;
	width: 70px;
	height: 70px;
}

.commentBox{
	padding: 1%;
	width: 96%;
	border:3px solid #ffffff;
	margin-bottom: 10px;
}
div.container{
	background-image: linear-gradient(to right,#050b10, #0A1D2D);
}
.leftPanelImg{
	width: 10%;
	float: left;
	width: 70px;
	height: 70px;
}
.leftPanel img{
	border-radius: 100%;
}
.rightPanel{
	width: 85%;
	float: top;
	margin-left: 80px;
	display:flex-top;
}
.clear{
	clear: both;
}
.form{
	padding: 10px;
	border: 5px solid #ffffff;
	margin-bottom: 10px;
	text-align: center;
}
.form input[type="text"], .form textarea, .form input[type="date"]{
	border:3px soldi #ffffff;
	padding: 2px;
	width: 300px;
}