.navbar-brand {

	font-family: 'Open Sans', sans-serif;
	font-family: 'UnifrakturCook', cursive;
	font-size: calc(30px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}
img { max-width: 100%; height: auto; }

.navbar-toggler-icon{
	width: 0.7em;
	height: 0.7em;
}

img{
	width: 220px;
	height: 220px;

	margin:5px 5px;
	transition: all 1s;

}
img:hover{
	transform: scale(1.1)
}

.container{
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	max-width: 100%;

	margin: 5px 5px;
	justify-content: space-between;
}
body{
	background-image: linear-gradient(to right,#050b10, #0A1D2D);
	margin: 0px 0px 0px 0px;
}
p{
	color: white;
}
/* For devices 400px and larger: */
@media only screen and (max-device-width: 767px) {
img {
    width: 100px;
    height: 100px;
  }
p{
	font-size:10px;
}
}
.item{
	text-align: center;
	display: block;
}

